<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>EvoTech</title>
</head>
<body>
    <div class="nav">
        <a href="#" id="logo">EvoTech</a>

        <ul class = navbar>
            <li>Dashboard</li>
            <li>{{Username}}</li>
            <li>Log In</li>
            <li>Sign Up</li>
        </ul>
    </div>

    <mainbody>
        <div class="post-card">
            <div class="post-header">
              <img src="profile-pic.jpg" alt="Profile Picture">
              <div class="post-info">
                <h2>Username</h2>
                <p>Timestamp</p>
              </div>
            </div>
            <div class="post-content">
              <p>Post text goes here.</p>
              <img src="post-image.jpg" alt="Post Image">
            </div>
            <div class="post-footer">
              <a href="#">Like</a>
              <a href="#">Comment</a>
              <a href="#">Share</a>
            </div>
          </div>
                
    </mainbody>

</body>
</html>
