<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../public/css/style.css">
    <title>EvoTech</title>
</head>
<body>
    <div class="navcontainer">
        <a href="#" id="logo">EvoTech</a>

        <ul class = navbar>
            <li>Dashboard</li>
            <li>{{Username}}</li>
            <li>Log In</li>
            <li>Sign Up</li>
        </ul>
    </div>

</body>
</html>